body {
    margin: 0;
    padding: 0;
    font-family: "Selima", Montserrat, Verdana, sans-serif sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f9fafc;
    color: #595354;
}


/*
#users-zone {
    background-color: rgb(6, 155, 155);
}

#chat-zone {
    background-color: aqua;
}
*/

.header {
    background-color: #ffffff;
    padding-left: 10px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    height: 5%;
}

.header>.logo-container {
    display: flex;
    align-items: center;
}

.header>.logo-container>.logo-img {
    width: 30px;
    height: 30px;
    margin-right: 50px;
}

.header>.logo-container>a>.logo-text {
    font-size: 2em;
    font-weight: 1000;
    color: rgb(54, 54, 54);
}

.header>.logo-container>a>.logo-text>.logo-highlight {
    color: #65a9e5;
}

.content-container {
    width: 100%;
    height: 95%;
    /* 
    display: flex;
    justify-content: space-between;
    overflow: hidden
    ;*/
}

.active-users-panel {
    /*
     width: 100%;
    height: 100%;
    
    */
    border-right: 1px solid #cddfe7;
}

.panel-titre {
    margin: 10px 0 0 0;
    padding-left: 30px;
    border-bottom: 1px solid #cddfe7;
    padding-bottom: 10px;
}

.active-user {
    padding: 10px 30px;
    border-bottom: 1px solid #cddfe7;
    cursor: pointer;
    user-select: none;
}

.active-user:hover {
    background-color: #e8e9eb;
    transition: background-color 0.5s ease;
}

.active-user--selected {
    background-color: #fff;
    border-right: 5px solid #65a9e5;
    font-weight: 500;
    transition: all 0.5s ease;
}

.video-chat-container {
    padding: 0 20px;
    position: relative;
    flex: 1;
}

.talk-info {
    font-weight: 500;
    font-size: 1em;
}

.remote-video {
    border: 1px solid #cddfe7;
    width: 100%;
    height: 70%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    /*
height: 100%;
    */
}

.local-video {
    position: absolute;
    border: 1px solid #cddfe7;
    bottom: 140px;
    right: 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 300px;
}

.text-chat-container {
    margin-block: 10px;
    position: none;
    flex: auto;
}

.receive-message {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #cddfe7;
    bottom: 60px;
    right: 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 1.1em;
}

.send-message {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #cddfe7;
    bottom: 60px;
    right: 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 1.1em;
}

.send-button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #cddfe7;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    bottom: 60px;
    right: 40px;
    font-size: 1.1em;
}